<!DOCTYPE html>
<html>
<head>
<title>Shield MonthYearPicker </title>
<meta charset="utf-8" />


<link rel="stylesheet" type="text/css" href="css/light/all.min.css" />
<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="js/shieldui-all.min.js" type="text/javascript"></script>

</head>
<body>

<input id="picker"></input>

<script type="text/javascript">
    jQuery(function ($) {
            $("#picker").shieldMonthYearPicker();
   });
</script>

</body>
</html>